DateTime==5.5
fastapi==0.115.0
idna==3.10
Jinja2==3.1.4
loguru==0.7.2
pillow==11.0.0
pydantic==2.10.3
pydantic_core==2.27.1
python-dotenv==1.0.1
python-multipart==0.0.10
requests==2.32.3
schedule==1.2.2
setuptools==75.6.0
starlette==0.38.6
ttkthemes==3.2.2
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.30.6
watchdog==2.1.9
psutil==6.1.0
